*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    max-width: 800px;
    
}
figure{
    width: calc(100% / 3 - 2px / 3);
    line-height: 0%;
}
img{
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
}