*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: green;
    margin-bottom: 20px;

}
.item{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
    
}
.V2{
    display: flex;
    justify-content: space-between;
}
.V3{
    display: flex;
    justify-content: space-between;
}
